@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.bg-nav {
  background-color: #161616;
  height: 63rem;
  font-family: 'Poppins', sans-serif;
}

.pad-tok{
  margin: auto;
  padding: 25px 60px;
}
.padding-content {
  padding: 20px 56px;
  width: 90%;
    margin: auto;
}

.navbar-toggler {
  background-color: white;
}

.title-nav-white {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.content-header {
  margin-top: 64px;
  text-align: center;
  color: #FFFFFF;
}

.title-header-tebal {
  font-weight: 700;
}

.nav-item {
  margin: 0px 10px;
}

.title-header {
  font-style: normal;
  font-weight: 500;
  font-size: 62px;
  line-height: 129%;
  width: 830px;
  margin: auto;
}

.paraf-header {
  margin-top: 40px;
  width: 770px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
}

.btn-header {
  margin-top: 40px;
  background: #99CC33;
  border-radius: 10px;
  width: 300px;
  height: 83px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}


.btn-hijau {
  margin-top: 40px;
  background: #10CA87;
  border-radius: 10px;
  width: 300px;
  height: 83px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.btn-red {
  margin-top: 40px;
  background: #FF4848;
  border-radius: 10px;
  width: 300px;
  height: 83px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.btn-ungu {
  margin-top: 40px;
  background: #5361EC;
  border-radius: 10px;
  width: 300px;
  height: 83px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.btn-kuning {
  margin-top: 40px;
  background: #F9B300;
  border-radius: 10px;
  width: 300px;
  height: 83px;
  border: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.content-img {
  margin-top: 70px;
  margin-bottom: 90px;
}

.content-img img {
  width: 100%;
}

.content-one {
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 125px;
  /* margin: auto; */
}

.title-one {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}

.paraf-one {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 734px;
  margin-top: 28px;
}

.top-margin {
  margin-top: 70px;
}

.top-margin-two {
  margin-top: 20px;
}

.title-two {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 129%;
  color: #000000;

}

.center-title {
  align-self: center;
}

.content-three {
  margin-top: 180px;
}

.title-three {
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.04em;
  color: #0F1110;
  margin-top: 16px;
}

.paraf-three {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 168%;
  /* or 22px */

  letter-spacing: 0.04em;

  color: rgba(15, 17, 16, 0.7);
}

.grid-one img {
  width: 100%;
}

.slick-arrow.slick-prev {
  background-color: #000000;
  border-radius: 50px;
}

.slick-arrow.slick-next {
  background-color: #000000;
  border-radius: 50px;

}

.slick-arrow.slick-prev:hover {
  background-color: #000000;
  border-radius: 50px;
}

.slick-arrow.slick-next:hover {
  background-color: #000000;
  border-radius: 50px;

}

.bg-card {
  padding: 150px 100px;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.padding-bg-card {
  padding: 30px;
}

.card-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  /* or 134% */

  letter-spacing: 0.05em;

  color: #000000;
}

.flex-card {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 20px;
}

.text-avatar {
  align-self: end;
}

.title-footer {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 300px;
  text-align: left;
  /* margin: auto; */
  margin-top: 20px;
}

.content-four {
  margin-top: 180px;
}

.content-five {
  margin-top: 180px;
}

footer {
  margin-top: 50px;
}

.logo-partner {
  text-align: center;
  justify-content: center;
  margin-top: 80px;
}

.logo-partner img {
  /* width: 100%; */
  padding: 0px 30px;

}

.head-foot {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

ul li a {
  text-decoration: none;
}

.navbar-toggler {
  color: white;
}

.title-misi {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
  text-align: left;
  color: #000000;
}

.paraf-misi {
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.visi-top {
  margin-top: 30px;
}

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgb(0 0 0 / 10%);
  margin: 0px 20px;
  text-align: center;
  height: 300px;
}
.text-visi{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  padding: 50px 10px;
}

.partner{
  margin-top: 40px;
}

.fixed-nav{
  position: fixed;
  width: 100%;
  background: #161616;
  padding: 20px 60px;
  z-index: 99;
}
/* @media (min-width: 640px) {
  .bg-nav {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}  */

@media screen and (max-width: 992px) {
  .title-header {
    font-style: normal;
    font-weight: 500;
    font-size: 62px;
    line-height: 129%;
    width: auto;
    margin: auto;
  }

  .paraf-header {
    margin-top: 40px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
  }

  .content-header {
    text-align: left;
  }

  .title-one {
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    text-align: left;
    color: #000000;
  }

  .paraf-one {
    text-align: left;
    width: auto;
  }
}



@media screen and (max-width: 576px) {
  .title-header {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 129%;
    width: auto;
    margin: auto;
  }

  .paraf-header {
    margin-top: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .content-header {
    text-align: left;
  }

  .title-one {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 129%;
    width: auto;
    margin: auto;
  }

  .paraf-one {
    margin-top: 20px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .btn-header {
    margin-top: 5px;
    background: #99CC33;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .bg-nav {
    background-color: #161616;
    height: 38rem;
    font-family: 'Poppins', sans-serif;
  }

  .content-header {
    margin-top: 25px;
    /* text-align: center; */
    /* color: #FFFFFF; */
  }

  .bolck-dis {
    display: block;
  }

  .col img {
    width: 100%;
  }

  .content-one {
    margin-bottom: 70px;
    margin-top: 60px;
    /* margin: auto; */
  }

  .title-two {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 110%;
    width: auto;
    margin: 20px 0px;
  }

  .btn-hijau {
    margin-top: 5px;
    background: #10CA87;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .btn-red {
    margin-top: 5px;
    background: #FF4848;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .btn-ungu {
    margin-top: 5px;
    background: #5361EC;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .btn-kuning {
    margin-top: 5px;
    background: #F9B300;
    border-radius: 5px;
    width: 60%;
    height: 40px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .padding-content {
    padding: 10px 30px;
  }

  /* .fixed-nav {
    position: fixed;
    z-index: 50;
    padding: 10px 30px;
    margin-top: 60px;
    background-color: #161616;
  } */

  /* .row.gx-5{
    display: block;
  } */
  .block-dis {
    display: block;
  }

  .direction-respon {
    flex-direction: column-reverse;
  }

  .top-margin-two {
    margin-top: 20px;
    display: block;
  }

  .content-four {
    margin-top: 70px;
  }

  .title-footer {
    margin: auto;
    margin-top: 20px;
  }

  .paraf-misi {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
  .box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgb(0 0 0 / 10%);
    margin: 10px 0px 30px 0px;
    text-align: center;
    height: 300px;
    width: 100%;
  }
  .top-misi{
    margin-top: 20px;
  }
  .title-misi{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 129%;
    width: auto;
    margin: auto;
  }

  .logo-partner img {
    /* width: 26%; */
    padding: 20px 10px;
  }

  .fixed-nav{
    position: fixed;
    width: 100%;
    background: #161616;
    padding: 10px 25px;
  }
/* .top-navv{
  margin-top: 105px;
} */

  .pad-tok {
    margin: auto;
    padding: 25px 30px;
  }

  .navbar-brand img{
    width: 140px;
  }
}